<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AlquilerMapper">
    
    <insert id="agregarAlquiler" parameterType="Alquiler">
        INSERT INTO TB_Alquiler VALUES(null, #{dniConductor}, #{auto}, #{fecha}, #{diasAlquiler}, #{precioDia})
    </insert>
    
    <select id="listarAlquileres" resultType="Alquiler">
        SELECT * FROM TB_Alquiler
    </select>
    
    
</mapper>